.search-box-component {
  width: 50%; /* 页面宽度的50% */
  height: auto; /* 自动调整高度 */
  min-height: 40px; /* 最小高度 */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 0;
  margin: auto;
  overflow: hidden; /* 隐藏超出部分 */
  background-color: transparent; /* 设置背景为透明 */
}

.search-input {
  flex: 8.5;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 20px 0 0 20px;
  height: 100%; /* 设置高度为100% */
  padding-left: 10px; /* 保持左侧内边距 */
  background-color: transparent; /* 设置背景为透明 */
}

.search-button {
  flex: 1.5;
  background-color: #4c84ff;
  color: white;
  border: none;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  height: 100%; /* 设置高度为100% */
  background-color: transparent; /* 设置背景为透明 */
}

.search-button:hover {
  background-color: #3a6fd1;
}

.clear-button {
  /* 新增样式 */
  color: #ccc;
  font-size: 16px;
}
